<!DOCTYPE html>
<html>
<head>
  <title>IsaSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <h2>International Students Association</h1>
    <%= button_to 'Admin Panel', '/admins/panel', {:method => 'get', :class => 'admin-btn btn'}%>
  </div>
  <div id='wrapper'>
    <%= yield %>
  </div>
</body>
</html>
